.window
{
    background-color: var(--window__color);
    border-top: var(--border__top);
    border-left: var(--border__left);
    border-right: var(--border__right);
    border-bottom: var(--border__bottom); 
    font-family: var(--default-font);
    position: absolute;
}

.window__title__bar
{
    position: relative;
    width: 100%;
    height: 4vh;
    background: rgb(7,7,70);
    background: linear-gradient(90deg, rgba(7,7,70,1) 0%, rgba(7,7,70,1) 58%, rgba(34,50,100,1) 62%, rgba(50,75,118,1) 64%, rgba(53,81,122,1) 68%, rgba(60,92,130,1) 74%, rgba(60,92,130,1) 88%, rgba(60,92,130,1) 96%, rgba(60,92,130,1) 100%);    
}

.window__title__bar__exit
{
    position: absolute;
    right: 5px;
    height: 70%;
    top: 50%;
    transform: translate(0,-50%);
    background-color: var(--window__color);
    border-top: var(--border__top);
    border-left: var(--border__left);
    border-right: var(--border__right);
    border-bottom: var(--border__bottom); 
}

.window__title__bar__exit:hover
{
    background-color: var(--window__darkened);
    border-top: var(--border__bottom);
    border-left: var(--border__right);
    border-right: var(--border__left);
    border-bottom: var(--border__top); 
}

.window__title__bar__button
{
    height: 3vh;
    background-color: var(--window__color);
    border-top: var(--border__top);
    border-left: var(--border__left);
    border-right: var(--border__right);
    border-bottom: var(--border__bottom); 
}

.window__title__bar__button:hover
{
    background-color: var(--window__darkened);
    border-top: var(--border__bottom);
    border-left: var(--border__right);
    border-right: var(--border__left);
    border-bottom: var(--border__top); 
}

.window__title__bar__header
{
    color: white;
    font-family: var(--default-font);
    font-size: 18px;
    padding: 1%;
    line-height: 4vh;
    vertical-align: middle;
    padding-left: 7px;
}

.window__button
{
    width: 100px;
    line-height: 2.5vh;
    background-color: var(--window__color);
    border-top: var(--border__top);
    border-left: var(--border__left);
    border-right: var(--border__right);
    border-bottom: var(--border__bottom); 
    cursor: pointer;
    text-align: center;
    font-family: var(--default-font);
}

.window__button span
{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.window__button:hover
{
    background-color: var(--window__darkened);
    border-top: var(--border__bottom);
    border-left: var(--border__right);
    border-right: var(--border__left);
    border-bottom: var(--border__top); 
}

.window__inset
{
    border-top: var(--border__bottom);
    border-left: var(--border__right);
    border-right: var(--border__left);
    border-bottom: var(--border__top); 
}


