.yesNo
{
    width: 30%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.yesNo__message__container
{
    padding-top: 1vh;
    display: flex;
    width: 100%;
}

.yesNo__message__icon
{
    width: 5vh;
    height: 5vh;
    margin: 1vh;
}

.yesNo__message
{
    padding-top: 1.5vh;
    margin: 1vh;
    font-family: var(--default-font);
    text-align: center;
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
}

.yesNo__options
{
    display: flex;
    width: 65%;
    margin-left: 17.5%;
}

.yesNo__button
{
    margin-top: 1vh;
    margin-bottom: 1vh;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    font-family: var(--default-font);
}