.desktop__backdrop
{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    overflow-y: hidden;
}

.desktop__background
{
    position: absolute;
    height: 100%;
    width: 100%;
    max-width: 120vh;
    left: 50%;
    transform: translate(-50%);
    background-color: var(--desktop__background);
    overflow: hidden;
}

.desktop__container
{
    position: absolute;
    width: 100%;
    height: 96%;
}